PORT=6000
MONGO_URL=mongo_url
GEMINI_API_KEY=gemini_api_key
ACCESS_TOKEN_SECRET=access_token_secret
ACCESS_TOKEN_EXPIRY=access_token_expiry
REFRESH_TOKEN_SECRET=refresh_token_secret
REFRESH_TOKEN_EXPIRY=refresh_token_expiry
CORS_ORIGIN=http://localhost:5173
CLOUDINARY_CLOUD_NAME=CLOUD_NAME
CLOUDINARY_API_KEY=API_KEY
CLOUDINARY_API_SECRET=API_SECRET